#game {
  display: none;
  margin-top: 100px;
}
#players-form{
  display: none;
  margin-top: 70px;
}

body {
  font-family: courier;
  background-color: gray;
}

.container {
  background-color: black;
  padding: 40px;
}

.player {
  background-color: #F5F5F5;
  text-align: center;
  padding: 15px;
  margin: 15px;
}

.gameButton {
  border: none;
  background-color: #ff3333;
  padding: 10px;
  width: 150px;
}

.gameButton:hover {
  background-color: #00e6ac;
}

button {
  margin: 10px;
}

label {
  color: #ff3333;
}

.pickPlayers {
  border: none;
  background-color: #ff3333;
  padding: 30px;
  font-size: 25px;
  width: 300px;
  margin-bottom: 100px;
  margin-top: 150px;
}

.pickPlayersButtons {
  text-align: center;
}

.pickPlayers:hover {
  background-color: #00e6ac;
}

h1 {
  background-color: #00ace6;
  padding: 20px;
  font-weight: lighter;
  text-align: center;
  color: white;
  font-size: 100px;
  margin: -40px;
}

h2  {
  color: #ff3333;
}

.points {
  font-size: 100px;
}

.winner  {
  color: white;
  font-size: 40px;
  text-align: center;
  display: none;
}
